@use "../utils" as u;

.accordion {
  border-bottom: 1px solid #e0e0e0;

  & > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: u.rem(14) u.rem(18);
    cursor: pointer;

    & > p {
      text-align: left;
      margin-right: 1rem;
    }

    & > span {
      display: flex;
      font-size: 1.4rem;
      color: #5f5f5f;
      transition: all 0.3s ease;
    }
  }

  & > main {
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;

    & > div {
      padding: u.rem(18) u.rem(18);
      padding-top: u.rem(4);
    }
  }

  &.active {
    & > button {
      & > span {
        transform: rotate(180deg);
      }
    }
  }

  @include u.breakpoint(small) {
    & > button {
      padding: u.rem(14) u.rem(10);

      & > p {
        font-size: 1rem !important;
      }
    }
  }
}
