/* COLORS */

$orange: #d09756;
$blue: #0061a3;
$green: #13902a;

.black {
  color: #000000;
}
.white {
  color: #fafcff;
}
.orange {
  color: $orange;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
